body {
  background: #6cbf97;
  color: white;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@keyframes spin {
  to{
    transform: rotate(360deg);
  }
}

.loader{
  position: absolute;
  opacity: .8;
  top: 45%;
  left: 45%;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 20px solid lightgray;
  border-top-color: white;
  animation: spin 1s linear infinite;
}
.hidden{
  display: none;
}

.main{
  position: relative;
}



.tables{
  display: flex;
  justify-content: space-around;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputs{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.header-inputs{
  flex-grow: .3;
  text-align: center;
}
